<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Photo Gallery</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
</head>
<body>
    <div class="container">
        <h1>Bird Photo Gallery</h1>
        <table>
            <tr>
                <th><img src="/static/images/image1.jpg" alt="Eastern Yellow Robin"></th>
                <th><img src="/static/images/image2.jpg" alt="Sulphur Crested Cockatoo"></th>
            </tr>
            <tr>
                <td><img src="/static/images/image3.jpg" alt="Sulphur Crested Cockatoo"></td>
                <td><img src="/static/images/image4.jpg" alt="Australian Kookaburra"></td>
            </tr>
            <tr>
                <td><img src="/static/images/image5.jpg" alt="Little Black Cormorant"></td>
                <td><img src="/static/images/image6.jpg" alt="Little Black Cormorant"></td>
            </tr>            
        </table>    
            <a href="/">Back to Home</a>
    </div>
</body>
</html>