{% extends "base.html" %}

{% block content %} <!---This block content allows for the website to be more efficent and also have the same banner for page directions-->
    <a href="/gallery" class="gallery-button">Go to Bird Gallery</a>
    <a href="/about" class="about-button">Go to about us</a>
    <h1>Bird Observations</h1>

    <form method="POST">
        <label for="bird">Bird:</label>
        <input type="text" id="bird" name="bird"><br><br>

        <label for="region">Region:</label>
        <select id="region" name="region">
            <option value="Select Region">Select Region</option>
            {% for continent in continents %}
                <option value="{{ continent }}">{{ continent }}</option>
            {% endfor %}
        </select><br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br><br>

        <input type="submit" value="Add Observation">
    </form>

    <br>

    <form action="/search" method="GET">
        <label for="search_term">Search:</label>
        <input type="text" id="search_term" name="search_term">
        <input type="submit" value="Search">
    </form>
<!--- Database searching and sending information to the Database and server.py file -->
    <br>

    {% if message %}
        <div class="{{ message_class }}">{{ message }}</div>
    {% endif %}

    {% if results %}
        <h2>Search Results:</h2>
        <ul>
            {% for result in results %}
                <li>
                    Bird: {{ result.bird }}, Region: {{ result.region }}, Date: {{ result.date }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</main>